<!DOCTYPE html>
<html lang="et">
<rel link = "stylesheet" href="style.css">
<head>
<meta charset = "utf-8">
<title>Viljavedu auto eksami ülesanne</title>
</head>

<body>
<h1>Auto viljavedu</h1>
<ul>
	<li><a href="/">Avalehele</a></li>
</ul>



</body>
</html>